.main-nav {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-bottom: 1px solid gray;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav {

  > ul {
    > li {
      margin-right: 35px;
      font-family: $sans-serif;
      text-transform: uppercase;
      font-size: 12px;
      text-transform: full-width;
      font-weight: bold;
    }
  }

  #sections-sidebar-btn i {
    margin-right: 10px;
    // padding: 20px 20px;
  }

  #search-modal-btn i {
    margin-right: 10px;
  }
  



  span {

  }

  
}



.right-nav  {
  display: inline-block;
  > ul {

    > li {
  
    }

    > li:last-of-type {
  
    }
  }
  
  i {
    font-size: 20px;
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $light-gray;

}
